<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
    <title>Heatmap module</title>
</head>
<body>
<div class="cheatmap">
<table>

             {% for row in table_data %}
            <tr>
                {% for number in row %}

                <td>
                    <div class="tooltip">
                        <svg width="10" height="10">
    <a href="{{ number[1] }}">
  <rect width="10" height="10" rx="2" fcolor="{{ number[2] }}" />
        <span class="tooltiptext">{{ number[1] }}</span>
        </a>
</svg>
                         </div>
</td>

                {% endfor %}
            </tr>
        {% endfor %}
</table>
</div>
</body>
</html>