<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static', filename= 'css/style.css')}}" rel="stylesheet">
    <title>Heatmap module</title>
</head>
<body>
<div class="cheatmap">
    <table>

        {% for row in table_data %}
        <tr>
            {% for number in row %}

            <td>
                <div class="tooltip">
                    <svg height="10" width="10">
                        <a href="{{ number[2] }}">
                            <rect fcolor="{{ number[3] }}" height="10" rx="2" width="10"/>
                            <span class="tooltiptext">{{ number[2] }}</span>
                        </a>
                    </svg>
                </div>
            </td>

            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>