{% extends 'base.html' %}

{% block content %}
<h1 class="d-flex align-items-center gap-2 py-2">
    <div class="dropdown">
        <button aria-expanded="false" class="btn d-block rounded-circle p-3" data-bs-toggle="dropdown"
                fcolor={{datetest["DailyPerformanceMetrics"]}} id="dropdownMenuButton2" type="button">

        </button>
        <form>
        <div class="d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px" data-bs-theme="light">

            <ul aria-labelledby="dropdownMenuButton2" class="dropdown-menu list-unstyled mb-0 ">
                <li>
                    <button class="dropdown-item d-flex align-items-center gap-2 py-2" name="lvl_upd" value="1">
                        <span class="d-inline-block rounded-circle p-1" fcolor="1"></span>
                        Snail's Pace Sprint
                    </button>
                </li>
                <li>
                    <button class="dropdown-item d-flex align-items-center gap-2 py-2" name="lvl_upd" value="2">
                        <span class="d-inline-block rounded-circle p-1" fcolor="2"></span>
                        Slow and Steady
                    </button>
                </li>
                <li>
                    <button class="dropdown-item d-flex align-items-center gap-2 py-2" name="lvl_upd" value="3">
                        <span class="d-inline-block  rounded-circle p-1" fcolor="3"></span>
                        Procrastination Pro
                    </button>
                </li>
                <li>
                    <button class="dropdown-item d-flex align-items-center gap-2 py-2" name="lvl_upd" value="4">
                        <span class="d-inline-block rounded-circle p-1" fcolor="4"></span>
                        The Productivity Wizard
                    </button>
                </li>
                <li>
                    <button class="dropdown-item d-flex align-items-center gap-2 py-2" name="lvl_upd" value="5">
                        <span class="d-inline-block rounded-circle p-1" fcolor="5"></span>
                        Couch Potato Mode
                    </button>
                </li>
                <li>
                    <button class="dropdown-item d-flex align-items-center gap-2 py-2" name="lvl_upd" value="6">
                        <span class="d-inline-block rounded-circle p-1" fcolor="6"></span>
                        Chilling Chamber
                    </button>
                </li>
                <li>
                    <button class="dropdown-item d-flex align-items-center gap-2 py-2" name="lvl_upd" value="7">
                        <span class="d-inline-block rounded-circle p-1" fcolor="7"></span>
                        Weekend Warrior
                    </button>
                </li>
            </ul>
            </form>
        </div>
    </div>
    Day {% block title %} {{datetest["date"]}} {% endblock %}
</h1>


<div class="container">


    <div class="row ">
        <div class="col-md-4 list-group" id="left">
            {% for activity in reg_activity %}
            <a class="list-group-item list-group-item-action mt-1" draggable="true" href="#"
               id={{activity["ActivityID"]}}><span class="taskName">{{activity["ActivityName"]}}</span>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{activity["Repeats"]}}
  </span></a>
            {% endfor %}

            <button class="btn btn-primary" data-bs-target="#addTaskModal" data-bs-toggle="modal" type="button">
                Add New Task
            </button>

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="addTaskModalLabel" class="modal fade" id="addTaskModal"
                 tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addTaskModalLabel">Add New Task</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Form goes here -->
                            <form id="addTaskForm" onsubmit="addTask(event)">
                                <div class="mb-3">
                                    <label class="form-label" for="activityName">Activity Name</label>
                                    <input class="form-control" id="activityName" name="activityName" required
                                           type="text">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="description">Description</label>
                                    <textarea class="form-control" id="description" name="description"
                                              rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="category">Category</label>
                                    <input class="form-control" id="category" name="category" type="text">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="repeats">Repeats</label>
                                    <input class="form-control" id="repeats" name="repeats" type="number">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="points">Points</label>
                                    <input class="form-control" id="points" name="points" type="number">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="time">Time</label>
                                    <input class="form-control" id="time" name="time" type="datetime-local">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="duration">Duration (in minutes)</label>
                                    <input class="form-control" id="duration" name="duration" type="number">
                                </div>
                                <button class="btn btn-primary" type="submit">Add Task</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-5 list-group" id="right">
            {% for activity in day_board %}
            <div class="btn-group dropend" id={{activity["LogID"]}}>
                <button aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle"
                        data-bs-toggle='dropdown' type="button">
                   {{activity["ActivityName"]}}

                </button>

                <div class="dropdown-menu" id="testid1">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item link-danger" id="fuckthis" onclick="delTask(this)"  href="#">Remove</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3 ">
            <div class="list-group overflow-auto h-75">
                {% for task in task_array %}

                <label class="list-group-item d-flex gap-2">
                    <input checked="" class="form-check-input flex-shrink-0" type="checkbox" value="">
                    <span>
        {{task["task"]}}
        <small class="d-block text-body-secondary">{{task["descr"]}}</small>
      </span>
                </label>

                {% endfor %}
            </div>
        </div>

    </div>
</div>
<script>
    let currentdate = '{{datetest["date"]}}'

    function handleButtonClick(event) {
        event.preventDefault()
      let coloredButton = document.getElementById("dropdownMenuButton2")
      let clickedButton = event.target;
      let targetID = clickedButton.value
      let data = JSON.stringify({'lvl': targetID, 'date': currentdate})
       console.log("Lvl_upd")
        coloredButton.setAttribute("fcolor", targetID)
       httpRequest = new XMLHttpRequest();

        if (!httpRequest) {
            alert("Giving up :( Cannot create an XMLHTTP instance");
            return false;
        }

        httpRequest.open("POST", "lvl_upd");
        httpRequest.setRequestHeader('Content-Type', 'application/json')
        httpRequest.send(data)


    return false

    }

    // Get all buttons in the form
    let buttons = document.getElementsByName("lvl_upd");

    // Attach event listener to each button
    buttons.forEach(function(button) {
      button.addEventListener('click', handleButtonClick);
    });
  </script>
<script>
    let lists = document.getElementsByClassName("list-group-item")
    let rightbox = document.getElementById("right")
    let leftbox = document.getElementById("left")
    let selected


    for (let list of lists) {
        list.addEventListener("dragstart", function (e) {
            selected = e.target
            rightbox.style.borderStyle = "dotted"
        })
        rightbox.addEventListener("dragover", function (e) {
            e.preventDefault()
        })
        rightbox.addEventListener("drop", function (e) {
            if (selected !== null) {
                let newItem = selected.cloneNode(true)
                newItem.getElementsByClassName("rounded-pill")[0].style.display = "none"
                rightbox.appendChild(newItem)
                selected.getElementsByClassName("rounded-pill")[0].textContent--
                marktask(newItem)
            }
            selected = null
            rightbox.style.borderStyle = "none"
        })
        leftbox.addEventListener("dragover", function (e) {
            e.preventDefault()
        })
        leftbox.addEventListener("drop", function (e) {
            if (selected !== null) {
                leftbox.appendChild(selected)
            }
            selected = null

        })

    }


    let httpRequest;


    function marktask(task) {

        httpRequest = new XMLHttpRequest();
        let data = JSON.stringify({'taskName': task.firstChild.textContent, 'date': currentdate})
        if (!httpRequest) {
            alert("Giving up :( Cannot create an XMLHTTP instance");
            return false;
        }

        httpRequest.open("POST", "ajax");
        httpRequest.setRequestHeader('Content-Type', 'application/json')
        httpRequest.send(data)
    }

    function addTask(e) {
        e.preventDefault()
        addForm = new FormData(document.getElementById('addTaskForm'))

        httpRequest = new XMLHttpRequest();

        if (!httpRequest) {
            alert("Giving up :( Cannot create an XMLHTTP instance");
            return false;
        }

        httpRequest.open("POST", "addTaskReq");
        httpRequest.send(addForm)


        console.log("Js form add task!")

        return false

    }
   function delTask(e) {
       console.log("Deletign item")
       let target = e.parentNode.parentNode
       let targetID = target.id.toString()
       httpRequest = new XMLHttpRequest();

        if (!httpRequest) {
            alert("Giving up :( Cannot create an XMLHTTP instance");
            return false;
        }

        httpRequest.open("POST", "delTaskReq");
        httpRequest.send(targetID)

       target.remove()

    return false

}

    /*
        function alertContents() {
          if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
              alert(httpRequest.responseText);
            } else {
              alert("There was a problem with the request.");
            }
          }
        }

     */

</script>
{% endblock %}